.container-output {
  background-color: rgb(221, 227, 247);
  border:1px solid black;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 14px;
  color:black;
  border-radius: 25px;
}

.container-output h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
}